@use "src/styles/vars";
.review {
  font-family: vars.$global-font;
  height: auto;
  // background-color: rgb(215, 250, 250);
  width: 375px;
  border-top: 3px solid white;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    border-bottom: 2px solid rgb(167, 199, 231);
    width: 9rem;
    margin-left: auto;
    margin-right: auto;
  }

  &-nickname {
    margin-left: 1rem;
    text-align: left;
    line-height: 1.5;
    font-size: 0.9rem;
    font-weight: 200;
    span {
      font-weight: 400;
    }
  }

  &-day {
    margin-left: 1rem;
    text-align: left;
    line-height: 1.5;
    font-size: 0.8rem;
    font-weight: 200;
    margin-bottom: 1rem;
  }

  &-title {
    line-height: 1.5;
    text-align: center;
    font-weight: 400;
  }

  &-avis {
    margin: 1rem auto;
    padding: 0.9rem;
    line-height: 1.5;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 200;
    background-color: rgb(205, 226, 247);
    border-radius: 7px;
  }
}

// media queries tablet
@media screen and (min-width: 481px) and (max-width: 768px) {
  .review {
    display: flex;
    margin: 0rem auto;
    width: 380px;
  }
}

// media queries Small screens
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .review {
    display: flex;
    margin: 0rem auto;
    width: 380px;
    &-nickname {
      margin-top: 1.5rem;
    }
  }
}

// media queries desktop
@media screen and (min-width: 1025px) {
  .review {
    display: flex;
    margin: 0rem auto;
    width: 390px;
    &-nickname {
      margin-top: 1.5rem;
    }
  }
}
