.input{
  &-date{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 11rem;
    height: 1.9rem;
    background-color: white;
    border: 1px solid  rgb(167, 199, 231);
    border-radius: 5px;
  }
  &-date:focus{
    outline: none;
  }
}
